name: Django CI

on:
  - push
  - pull_request

env:
  DJANGO_SETTINGS_MODULE: config.settings.dev

jobs:
  tests:

    runs-on: ${{ matrix.os }}
    strategy:
      max-parallel: 4
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ["3.10", "3.11", "3.12"]

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Check migration
      run: |
        python src/manage.py makemigrations
        python src/manage.py migrate
        python src/manage.py check
    - name: Run Tests
      run: |
        python src/manage.py test && flake8